# This is a basic workflow to help you get started with Actions

name: Docker Image CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ $default-branch ]
  pull_request:
    branches: [ $default-branch ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to DockerHub
      uses: docker/login-action@v1.9.0 
      with:
        username: maeberlisdn
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Extract branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch
    - name: Set default docker tag name
      run: |
        if [ "${{ steps.extract_branch.outputs.branch }}" = "master" ]; then
          echo "::set-output name=tags::maeberlisdn/foodtruck:latest,maeberlisdn/foodtruck:${{ steps.extract_branch.outputs.branch }}-${{ github.run_id }}"
        else
          echo "::set-output name=tags::maeberlisdn/foodtruck:${{ steps.extract_branch.outputs.branch }}-${{ github.run_id }}"
        fi
      id: extract_tags
    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: ${{ steps.extract_tags.outputs.tags }}
    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}
